.password-label,
.password-label1,
.username-label,
.email-label {
    position: absolute;
    color: var(--blue);
    font-family: var(--font-inria-sans);
    font-weight: 700;
    display: flex;
    align-items: flex-end;
    font-size: var(--font-size-13xl);
}

.email-label {
    top: 32%;
    left: 36.39%;
    width: 27.22%;
    height: 5.86%;
}

.password-label {
    top: 45%;
    left: 36.39%;
    width: 27.22%;
    height: 5.86%;
}

.password-label1 {
    top: 60%;
    left: 36.39%;
    width: 27.22%;
    height: 5.86%;
}

.username-input,
.password-input,
.email-input,
.password-input1 {
    position: absolute;
    background: var(--white);
    border-radius: var(--br-6xl);
    border: none;
    color: var(--blue);
    font-family: var(--font-inria-sans);
    font-weight: 700;
    font-size: 1.5em;
    padding-left: 20px;
    box-sizing: border-box;
}

.email-input {
    top: 38%;
    left: 36.39%;
    width: 27.22%;
    height: 4.88%;
}

.password-input {
    top: 51%;
    left: 36.39%;
    width: 27.22%;
    height: 4.88%;
}

.password-input1 {
    top: 66%;
    left: 36.39%;
    width: 27.22%;
    height: 4.88%;
}

.register-form {
    position: absolute;
    top: 30.53%;
    left: 33.33%;
    width: 33.33%;
    height: 55%;
    background-color: rgba(217, 217, 217, 0.7);
}

.error,
.success {
    position: absolute;
    top: 85%;
    left: 33.3%;
    width: 33.33%;
    height: auto;
    color: red;
    font-family: var(--font-inria-sans);
    font-weight: 700;
    font-size: var(--font-size-13xl);
    text-align: center;
}

.success {
    color: green;
}

.sign-up-btn {
    position: absolute;
    top: 74%;
    left: 36.46%;
    width: 27.22%;
    height: 6.84%;
    border-radius: 20px;
    border: none;
    background-color: var(--titanium);
    color: var(--blue);
    font-family: var(--font-inria-serif);
    font-size: var(--font-size-13xl);
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign-up-btn:hover {
    background-color: lightgray;
}

.password-strength {
    position: absolute;
    top: 57%;
    left: 36.39%;
    width: 27.22%;
    height: 4.88%;
}
