.password-label,
.password-label1,
.username-label,
.email-label {
    position: absolute;
    color: var(--blue);
    font-family: var(--font-inria-sans);
    font-weight: 700;
    display: flex;
    align-items: flex-end;
    font-size: var(--font-size-13xl);
}

.username-label {
    top: 20%;
    left: 36.39%;
    width: 27.22%;
    height: 5.86%;
}

.email-label {
    top: 35%;
    left: 36.39%;
    width: 27.22%;
    height: 5.86%;
}

.password-label {
    top: 50%;
    left: 36.39%;
    width: 27.22%;
    height: 5.86%;
}

.password-label1 {
    top: 65%;
    left: 36.39%;
    width: 27.22%;
    height: 5.86%;
}

.username-input,
.password-input,
.email-input,
.password-input1 {
    position: absolute;
    background: var(--white);
    border-radius: var(--br-6xl);
    border: none;
    color: var(--blue);
    font-family: var(--font-inria-sans);
    font-weight: 700;
    font-size: 1.5em;
    padding-left: 20px;
    box-sizing: border-box;
}

.username-input {
    top: 27.5%;
    left: 36.39%;
    width: 27.22%;
    height: 4.88%;
}

.email-input {
    top: 42.5%;
    left: 36.39%;
    width: 27.22%;
    height: 4.88%;
}

.password-input {
    top: 57.5%;
    left: 36.39%;
    width: 27.22%;
    height: 4.88%;
}

.password-input1 {
    top: 72.5%;
    left: 36.39%;
    width: 27.22%;
    height: 4.88%;
}

.register-form {
    position: absolute;
    top: 20vh;
    left: 33.33%;
    width: 33.33%;
    height: 70vh;
    background-color: rgba(217, 217, 217, 0.7);
}

.error {
    position: absolute;
    top: 90%;
    left: 33.3%;
    width: 33.33%;
    height: auto;
    color: red;
    font-family: var(--font-inria-sans);
    font-weight: 700;
    font-size: var(--font-size-13xl);
    text-align: center;
}

.sign-up-btn {
    position: absolute;
    top: 80%;
    left: 36.46%;
    width: 27.22%;
    height: 6.84%;
    border-radius: 20px;
    border: none;
    background-color: var(--titanium);
    color: var(--blue);
    font-family: var(--font-inria-serif);
    font-size: var(--font-size-13xl);
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign-up-btn:hover {
    background-color: lightgray;
}

.mandatory-fields {
    position: absolute;
    top: 15vh;
    left: 50%;
    transform: translateX(-50%);
    width: 20%; 
    height: 6.84%;
    border-radius: 20px;
    border: none;
    font-size: 1.3em;
    color: var(--blue);
    font-family: var(--font-inria-serif);
    display: flex;
    align-items: center;
    justify-content: center;
}
