.main-container {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
}

.page-title {
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 2.5em;
    font-weight: 800;
    color: var(--black);
    text-align: center;
}

.stats-column {
    width: 25%;
    height: auto;
    padding: 30px;
    background-color: var(--white);
    border-radius: 20px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 15px; /* Reduced gap between stats */
    margin-top: 10%; /* Increased margin from the top */
}

.stat {
    background-color: var(--titanium);
    padding: 10px; /* Reduced padding */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: var(--br-xl);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.stat label {
    font-size: 1.2em; /* Reduced font size */
    font-weight: 700;
    color: var(--blue);
    margin-bottom: 8px; /* Reduced margin */
}

.stat-value {
    font-size: 1.5em; /* Reduced font size */
    font-weight: 800;
    color: var(--green);
}

.actions-container {
    position: absolute;
    top: 13%;
    right: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.action-button {
    width: auto; /* Auto width to fit content */
    height: 50px;
    background-color: var(--titanium);
    border-radius: var(--br-xl);
    border: none;
    font-size: 1.2em; /* Reduced font size */
    font-weight: 700;
    text-align: center;
    color: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0 15px; /* Add padding for better spacing */
    transition: all 0.3s ease-in-out;
}

.action-button:hover {
    background-color: #bfbfbf;
    color: var(--blue);
}

.action-button:active {
    background-color: #a6a6a6;
    color: var(--blue);
}

.important-message {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: rgba(0, 255, 0, 0.1);
    color: green;
    border: 2px solid green;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 1.5em;
    text-align: center;
    opacity: 0.8;
    box-shadow: 0px 4px 8px rgba(0, 128, 0, 0.2);
}

.error {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: rgba(255, 0, 0, 0.1);
    color: red;
    border: 2px solid red;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 1.5em;
    text-align: center;
    opacity: 0.8;
    box-shadow: 0px 4px 8px rgba(255, 0, 0, 0.2);
}
